@use './variables' as *

*,
*::before,
*::after
  box-sizing: border-box

html,
body
  margin: 0
  padding: 0

:root
  --color-text: #{$color-text}
  --color-background: #{$color-background}

:root[data-theme='monochrome']
  --color-text: #{$color-text-monochrome}
  --color-background: #{$color-background-monochrome}

:root[data-theme='dark']
  --color-text: #{$color-text-dark}
  --color-background: #{$color-background-dark}

:root[data-theme='brown']
  --color-text: #{$color-text-brown}
  --color-background: #{$color-background-brown}

body
  background: var(--color-background)
  color: var(--color-text)

img,
video
  max-width: 100%
  display: block
