// Design tokens. Fill in as the new design lands.
$mobile-breakpoint: 768px
$desktop-breakpoint: 1440px

$color-text: #0a256c
$color-background: #d2d3d5
$color-text-monochrome: #000000
$color-background-monochrome: #ffffff
$color-text-dark: #ffffff
$color-background-dark: #000000
$color-text-brown: #765b46
$color-background-brown: #e7e6e1
$image-placeholder: #ef7ba7

$space-unit: 8px
